*{
    background-color: black;
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: Clash;
    src: url(ClashDisplay.ttf);
}
.head{
    height: 86px;
    background-color: blue;
    color: white;
    display: flex;
    align-items: center;
    font-family: Clash;
}

.whos{
    position: absolute;
    left: 24px;
    display: flex;
    align-items: center;
}

.whostext{
    font-size: 34px;
}

.whosimage{
    margin-left: 8px;
}

.leaderboard{
    position: absolute;
    right: 24px;
    font-size: 20px;
    font-family: Clash;
}

.leaderboard i{
    margin-right: 6px;
}